.create_group {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  background-color: #d9d9d9;
  width: 100%;
  height: 100%;
  padding-left: var(--padding_left);
}

.form {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 60%;
  justify-content: space-evenly;
}

.submitfield {
  padding: 12px 24px;
  border: none;
  outline: none;
  background: #51679c;
  color: #fff;
  border-radius: 40px;
  text-align: center;
  transition-duration: 0.3s;
  transition-property: transform;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &[type="submit"] {
    background: #a0dbcc;
    color: #000;
  }

  &hover {
    background: #a0dbcc;
    transform: scale(1.05);
  }
}

.header1 {
  margin-bottom: 10px;
}

.field {
  height: 50px;
  size: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  padding-left: 15px;
}

.dot {
  height: 80px;
  width: 80px;
  background-color: #bfd0ea;
  border-radius: 100%;
  display: inline-block;
  margin: 10px;
  border: none;
}

.dotselected {
  background-color: #23395d;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  display: inline-block;
  margin: 10px;
  border: none;
}

.icon {
  height: 50px;
  width: 50px;
}

.submitError {
  color: red;
}