.goalsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    align-items: center;
  }
  
  .goalItem {
    
    display:block;
    width: 80%;
    margin-bottom: 20px;
    padding-left: 15px;
    
    background-color: #51679C;
    color: white;

    border-color: black;
    border-width: 2px;
    border-style: solid;

  }

.header{
    padding-left: 10px;

    
}

.goalText:hover{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}