.navContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black;

  &:hover {
    transform: scale(1.1);

  }
}

.shortcut {
  display: inline-block;
  border-bottom: 1px solid black;
  width: 100%;
}

.login {
  position: relative;
  width: 140px;
  padding: 10px 0;
  border-radius: 100px;
  background: #ffffff61;
  box-shadow: 0px 4px 4px 0px #00000040;
  text-decoration: none;
  color: black;
  text-align: center;
  animation: shake 5s linear infinite;
  // animation-direction: alternate;

  &:active {
    top: 2px;
    box-shadow: 0px 2px 2px 0px #00000040;
  }

  &:hover {
    transform: scale(1.2);
    animation: none;
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.ul {
  padding: 0;
}

.li {
  list-style: none;
  margin-top: 12px;
  transition-duration: 0.3s;
  transition-property: transform;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

    span {
      padding-left: 10px;
    }

    &:hover {
      color: #555;
      text-decoration: underline;
      transform: scale(1.1);

    }
  }
}